.layoutBody {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    padding: 0 300px;
    background: linear-gradient(to bottom, #e0e3ed 0%, #e0e3ed 333px, white 100%);
}

.footer {
    background: #6b7989;
    color: white;
    text-align: center;
    height: 50px;
}